@page "/"
@inject UIService service

<h3>Index</h3>
<CascadingValue Value="Service" Name="Service">
    @if(Service is not null)
    {
    var nr = 1;
    foreach(var c in Service.Categories)
        {
            <p>@nr</p>
            nr++;
        }
    }
    else
    {
        <p>I cant find it</p>
    }
</CascadingValue>
@code {
    [CascadingParameter] public UIService? Service { get; set; }


}
