@page "/"
@inject UIService Service;

<NavigationComponent/>

<div class="d-flex vh-100">
    <CascadingValue Value="Service" Name="Service">
   <SideComponent OnChange="OnChange"/>
   <MainProductComponent OnChange="OnChange"/>
   </CascadingValue>
</div>

@code{
    void OnChange()
    {
        
    }
}