@page "/"
@inject UIService service

<h3>Index</h3>
@if (service is not null)
{
    var nr = 1;
    foreach (var c in service.Categories)
    {
        <p>@nr</p>
        nr++;
    }
}
else
{
    <p>I can't find it</p>
}
