@using MexicanFoodStore.API.DTO;
﻿﻿
<nav class="navbar d-flex justify-content-between mx-3">
    <a class="navbar-brand" href="#"><img src="Images/bruttio.png" /></a>
    <div class="d-flex justify-content-between ">
        <div class="dropdown">
            <button id="cart-button" type="button"
                    data-bs-toggle="modal" data-bs-target="#cart"
                    class="btn btn-outline-success rounded-0">
                <i class="bi bi-cart"></i>
            </button>
        </div>
        <div>
            <div class="position-relative">
                <button id="cart-button" type="button" class="btn btn-outline-success rounded-0"><i class="bi bi-cart"></i></button>
                <div class="cart-count bg-danger text-white rounded-circle position-absolute">@UICartService!.CartItems.Count</div>
            </div>
            <div></div>
        </div>
    </div>
</nav>
<CartComponent></CartComponent>
@code {
    [Parameter] public UIService? UICartService { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        UICartService!.CartItems =
            await UICartService!.ReadStorage<List<CartItemDTO>>("CartItems") ?? [];
    }

    async Task OnRemoveCartItem(CartItemDTO? cartItem)
    {
        UICartService!.CartItems.Remove(cartItem);
        await UICartService!.SaveToStorage("CartItems", UICartService!.CartItems);
    }
}